@tailwind base;
@tailwind components;
@tailwind utilities;


#removeC {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#removeC::-webkit-search-cancel-button{
    -webkit-appearance: none;
}